.mainDescriptionCard {
  background-image: url("../../public/assets/wallpapertechno.jpeg");
  padding: 1.5rem 0;
}

.cardDes {
  margin: 0 auto;
  background-color: #19191981;
  padding: 4rem 1rem;
  border: 2px solid rgb(152, 155, 157);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  box-sizing: content-box;
  max-width: 81vw;
  max-height: 60vh;
  margin-bottom: 4rem;
}

.imageCardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 30vw;
  max-height: 61vh;
}
.imgCard {
  width: 80%;
  object-fit: fill;
  overflow: hidden;
}

/* CARD DETAILS */
.detailCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 65%;
  margin-left: 1rem;
}

.block {
  width: 100%;
  max-height: 5vh;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.nameBlock {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  justify-content: left;
}

.nameBlock > h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

hr {
  width: 80%;
  color: white;
}

.contentBlock {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  border: 2px solid rgb(0, 224, 249);
  background-color: rgba(5, 31, 226, 0.85);
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.contentBlock > p {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.lvl {
  width: 600px;
  display: flex;
}

.id {
  width: 600px;
  font-size: 10%;
}

/*_________________________________*/

.priceContainer {
  /* margin: 0 auto; */
  /* background-color: #19191981; */
  /* padding: 1rem 1rem; */
  /* border: 2px solid rgb(152, 155, 157); */
  /* border-radius: 10px; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  box-sizing: content-box;
  max-width: 90vw;
}

.cost {
  display: flex;
  color: rgb(250, 250, 250, 100%);
}

.cost div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 100px;
  justify-content: center;
  z-index: O;
}

.bubble1 {
  background-color: rgb(6 93 15);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 81vw;
}

.bubble2 {
  background-color: rgb(93 6 86);
}

.fin {
  width: 850px;
  margin-bottom: 4rem;
  color: rgb(152, 155, 157, 85%);
  font-size: 400%;
}
