

.cardDes {   
    margin-top: 3rem;
    margin-bottom: 7rem;
    background-color: rgb(25, 25, 25, 85%);
    padding: 3rem 2rem 2rem 2rem;
    margin-left: 3em;
    margin-right: 3rem;
    border: 2px solid rgb(152, 155, 157);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
}


.img {
 border: 2px solid red;   
}

.detailCard {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.block {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;  
}

.name {
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    align-items: flex-end;
    justify-content: center;
}

.font_color {
    background-color: rgb(60, 60, 58, 85%);
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    border: 2px solid rgb(219, 226, 164); 
    margin-left: 1rem;
}

.font_color p {
    color: rgb(177, 177, 177);
}

.lvl {
    width: 600px;
    display: flex;
}

.id {
    width: 600px;
    font-size: 10%;
}

/*_________________________________*/


.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 4rem;
    border: 2px solid rgb(152, 155, 157);
    background-color: rgb(25, 25, 25, 85%);
    border-radius: 10px;
}

.rarity {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(250, 250, 250, 100%);
    width: 300px; 
    height: 250px; 
    border-radius: 200px; 
    background-color: rgb(4 19 102);
    padding-top: 3rem;
    font-size: 170%;
}

.rarity p {
    font-size: 70%;
}


.cost {
    display: flex;
    margin-bottom: 5rem;
    color: rgb(250, 250, 250, 100%);
}

.cost div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: -8rem;
    justify-content: center;
}

.bubble1 {
    margin-right: 14rem;
    background-color: rgb(6 93 15);
}

.bubble2 {
    background-color: rgb(93 6 86)
}

.price button {
    background-color: rgb(180, 40, 36);
    color: rgb(255, 255, 255);
    padding: 1rem 5rem 1rem 5rem;
    margin-bottom: 3rem;
    font-size: 100%;
}

.fin {
    width: 850px;
    margin-bottom: 4rem;
    color: rgb(152, 155, 157, 85%);
    font-size: 400%;
}