/* Encart */

.callout {
  position: relative;
  width: 90rem;
  height: 30rem;
  left: 1px;
  top: 936px;
  background-color: hsl(285, 63%, 14%);
  box-shadow: inset 5px 8px 18px #c100ff;
  display: flex;
  flex-direction: row;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  box-sizing: border-box;
}

.textContainer > p {
  text-align: center;
}

/* .divTransform {
  background-color: hsl(285, 63%, 14%);
  transform: skewX(348deg);
} */

img {
  z-index: 0;
}
