footer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(3, 3, 3, 0.911);
  height: 6rem;
  align-items: flex-start;
  padding-top: 1.5rem;
}

.text_footer {
  display: flex;
  flex-direction: column;
}

.strong_footer {
  margin-bottom: 1rem;
  font-size: larger;
  color: rgb(180, 40, 36);
  height: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(217, 217, 217, 100%);
}

.text_footer p {
  font-size: 1rem;
  color: rgb(217, 217, 217, 100%);
}

.linkFooter {
  font-size: 1rem;
  color: rgb(217, 217, 217, 100%);
}

.linkFooter:hover {
  color: #ff013c;
}

.socialIconsContainer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.components {
  display: flex;
}

.photo_footer {
  background-color: gray;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.button {
  width: 150px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
}

.second_foot {
  margin-top: -1rem;
}
