header {
  background-color: rgba(3, 3, 3, 0.911);
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}

.menu_header {
  display: flex;
  justify-content: space-evenly;
  width: 32rem;
}

.heroContainer {
  display: flex;
  height: 35rem;
  background-image: url(../../public/assets/slider.png);
  background-repeat: no-repeat;
  align-items: center;
  padding-bottom: 10rem;
}

.heroDiscover {
  background-color: rgb(25, 25, 25, 85%);
  margin-left: 5rem;
  margin-top: 20rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerLogo {
  max-width: 18rem;
  max-height: 4rem;
  padding: 1rem;
}

.logo_menu {
  width: 100%;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-decoration: none;
}
